body{
    background-image:url(https://i.pinimg.com/originals/40/f4/c5/40f4c5c34c1c1731e3a1b12695b44d2a.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;   
}