* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(34, 4, 4);
}

body {
    background-image: url(../Imagens/fundoicone.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

div {
    display: flex;
}

.titlelor {
    width: 450px;
    display: flex;
    align-items: center;

}
.arrumaricone{
    width: 300px;
    
    
}
.arrumariconeleona{
    width: 300px;
    border-radius: 100%;
}
