* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(15, 2, 2);
}
html,body{
    width: 100%;
    height: 100%;
}
.retornar {
    height: 30px;
}

.imgletra {
    width: 60px;
    height: 60px;
}
 
.imgfundo {
    background-image: url(https://i.pinimg.com/originals/40/f4/c5/40f4c5c34c1c1731e3a1b12695b44d2a.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.champs {
    width: 400px;
    height: 460px;
}
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}

.logo {
    height: 100px;
}

.btn {
    text-align: center;
    border-radius: 5px;
    font-size: 40px;
    background-color: #362c2c;
    display: flex;
    width: 200px;
    min-height: 55px;
    border: 2px solid #0a0000;
    color: #835703;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

p,.btn {
    font-size: 1.5rem;
    display: flex;
    text-align: left;
    font-family:Righteous;
    

    vertical-align: inherit;
    color: rgb(241, 194, 36);
    -webkit-text-stroke: 2px rgb(14, 1, 1);
    stroke: 1px rgb(241, 234, 234);
}
.info{
    border-radius: 50%;
    text-transform: uppercase;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}
p {
    display: flex;
    align-items: center;
}

.imgjogo {
    width: 30%;
    border-radius: 100px;
    opacity: 80%;
}

@media (max-width:656px){
    .logo{
        width: 100%;
        height: 85%;
    }
    p{
        font-size: 20px;
    }
}

/* PARTE 2, INTRODUÇÃO DO JOGO, UM BREVE RESUMO */