* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(27, 2, 2);
}
h2 {
    font-size: 45px;
    display: flex;
    font-family:Righteous;
    vertical-align: inherit;
    color: rgb(241, 194, 36);
    -webkit-text-stroke: 2px rgb(14, 1, 1);
    stroke: 1px rgb(241, 234, 234);
}


.logo {
    height: 50px;
    display: flex;
    align-items: center;
}

.Yasuo {
    width: 480px;
    height: 500px;
    display: flex;
}

.Leona {
    width: 420px;
    height: 420px;
    display: flex;
}

.Lux {
    height: 350px;
    display: flex;
}



.yasuofundo {
    background-image: url(../Imagens/yasuofundo-.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.yasuofundo2{
    background-image: url(../Imagens/yasuofundo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.yasuofundo3{
    background-image: url(../Imagens/yasuofundo3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.leonafundo {
    background-image: url(../Imagens/leonafundoicone.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.leonafundo2{
    background-image: url(../Imagens/leonafundo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.leonafundo3{
    background-image: url(../Imagens/iconeleonap3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.luxfundo {
    background-image: url(../Imagens/iconeluxfundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.luxfundo2{
    background-image: url(../Imagens/iconeluxp2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.luxfundo3{
    background-image: url(../Imagens/iconeluxp3.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

button{
    text-align: center;
    font-size: 30px;
    background-color: #02060f;
    display: flex;
    width: 176px;
    height: 75px;
    border: 4px solid #f3f3f7;
    color: #f5eeee;
    text-decoration: none;
    align-items: center;
    font-family: Righteous;
}
.btnquizlado{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}
